body {
  background-image: url('../images/1160.jpg');
  background-size: cover;
  animation: estrellas 10s linear infinite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes estrellas {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
